.w {
    max-width: 770px;
}

code {
    color: white;
}

img {
    display: inline;
    margin:0;
}

figure {
    color: gray;
    font-style: italic;
    margin: 0;
}

html, body { background: rgb(230, 230, 230); }
