.w {
    max-width: 770px;
}

code {
    color:whitesmoke;
    background:#2C3639
  }

img {
    display: inline;
    margin:0;
}

figure {
    color: gray;
    font-style: italic;
    margin: 0;
}

html, body { background: #252525; color: whitesmoke; } /* #191919 */

.tleft {
    float:left;
    width:500px
  }
.postbox .tleft {
    padding-left:1rem;
}
.imright {
    float:right;
}
.postbox .imright {
    padding-right:1rem
}
.postbox {
  overflow: auto;
  border-style:solid;
  border:1px solid whitesmoke;
  margin-bottom: 20px;
}

.postbox img {
    border:1px solid whitesmoke;
  height: 120px;
}

a:visited, td.sep {
  color:#5caeb3
}

figure img {
  border: thin solid gray;
}

a:link {
    color: #5caeb3
}

.sideside {
    overflow: auto;
}

/*
.sideside img {
    float: right;
}

.sideside p {
    width: 500px;
    float: left;
}
*/

table {
    width:100%;
    float: none;
  }
  table,
  th,
  td {
    padding:0.4rem;
  }
  th, td {
    border: 1px solid white;
    text-align: center;
  }
  th {
    font-weight: normal;
  }
