.w {
    max-width: 770px;
}

code {
    color: white;
}

img {
    display: inline;
    margin:0;
}

figure {
    color: gray;
    font-style: italic;
    margin: 0;
}

html, body { background: rgb(230, 230, 230); }

.tleft {
  width: 500px;
  float: left;
  margin-bottom: 60px;
}

.imright {
  float: right;
}

.postbox {
  border-style: solid;
  border: 1px solid black;
  padding: 0.75rem;
}
