html { height: 100%; }

body {
  color: black;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

mark {
  background-color: #5caea3;
}
h2 {
  text-decoration: underline;
}

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 770px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table.navLinks {
    width:100%;
    float: right;
  }
  table.navLinks,
  table.navLinks th,
  table.navLinks td {
    padding:0.4rem;
    border: none;
    width: 1px;
  }


  table.ownTable {
    width:100%;
  }
  table.ownTable,
  table.ownTable th,
  table.ownTable td {
    padding:0.4rem;
  }

  table.ownTable th, table.ownTable td {  border: 1px solid gray; text-align: center; font-weight: normal;}

/*
table {
    width:100%;
  }
  table,
  th,
  td {
    padding:0.4rem;
  }
  th, td {
    border: 1px solid white;
    text-align: center;
  }
  th {
    font-weight: normal;
  }
    */

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: inline;
  margin: 0;
}

figure {
    color: gray;
    font-style: italic;
    margin: 0;
}

.w {
    max-width: 770px;
}
.large {
    max-width: 1010px;
}

code {
    color:whitesmoke;
    background:#333660; /* #993639 */
}

.highlight code {
    font-size: 10.5pt;
    color:whitesmoke;
    background: #0c0e0e;
    border: 1px solid #aaaaaa
}

img {
    display: inline;
    margin:0;
}

figure {
    color: gray;
    font-style: italic;
    margin: 0;
}

html, body { background: #1f1f1f; color: whitesmoke; } /* #191919 */

.tleft {
    float:left;
    width:500px
  }
.postbox .tleft {
    padding-left:1rem;
}
.imright {
    float:right;
}
.postbox .imright {
    padding-right:1rem
}
.postbox {
  overflow: auto;
  border-style:solid;
  border:1px solid whitesmoke;
  margin-bottom: 20px;
  background: #0c0e0e;
}

.postbox img {
    border:1px solid whitesmoke;
  height: 120px;
}

a:visited, td.sep {
  color:#5caeb3
}

figure img {
  border: thin solid gray;
}

.sideside img {
    border: thin solid gray;
}

a:link {
    color: #5caeb3
}

.sideside {
    overflow: auto;
}

/* PROJECTS */

table.projects {
    /* border: 1px solid whitesmoke; */
}

table.projects h2 {
    margin-top: 10px;
}

table.projects hr {
    margin-top: 10px;
     margin-bottom: 10px;
    font-size: 15px;
  }

.proDate {
    color: gray;
    font-weight: bold;
    font-size: 20px;
}

.tag-school {
    padding: .1em .3em .2em;
    border-radius: 3px;
    background: rgb(20, 177, 33);
    font-size: 12px;
}
.tag-game {
    padding: .1em .3em .2em;
    border-radius: 3px;
    background: rgb(0, 47, 255);
    font-size: 12px;
}
.tag-game-jam {
    padding: .1em .3em .2em;
    border-radius: 3px;
    background: red;
    font-size: 12px;
}
.tag-normal {
    padding: .1em .3em .2em;
    border-radius: 3px;
    background: rgb(83, 83, 83);
    font-size: 12px;
}

.date {
    width: 70px;
    vertical-align:top;
    padding-right:15px;
    text-align: right;
    padding-top: 14px;
}

.desc {
    width:900px;
    text-align:left;
    vertical-align:top;
    /* border-left:1px solid whitesmoke; */
    padding-left:15px;
}

td {
    border-top: 1px dashed whitesmoke;
    padding-bottom: 30px;
}

/* END PROJECTS */

/*
.sideside img {
    float: right;
}

.sideside p {
    width: 500px;
    float: left;
}
*/


/* MINIMAP */

#minimap {
    background:-moz-element(#article) no-repeat center/contain;
    position:fixed;
    right:30px;
    top:30px;
    height:85vh;
    width:100px;
    display:none
  }
  #minimap:hover {
    background:#2d2e30 -moz-element(#article) no-repeat center/contain;
    cursor:pointer
  }
  #minimap-range {
    transform:translatey(-100%) rotate(90deg);
    transform-origin:bottom left;
    background-color:transparent;
    opacity:0.5;
    margin:0;
    padding:0;
    height:100px;
    width:85vh
  }
  #minimap-range::-moz-range-thumb {
    width:70px;
    height:100px;
    border:none;
    border-radius:0px;
    background-color:#3b545c;
    cursor:pointer
  }
  #minimap-range::-moz-range-track {
    background-color:transparent
  }

  #load-message {
    color: grey;
    position:fixed;
    right:30px;
    top:30px;
    height:100px;
    width:100px;
    display:block;
    font-style: italic;
  }
