@font-face {
    font-family: JMH;
    src: url("JMH Typewriter dry.otf");
}

html {
    font-family: JMH;
    background-color: #141217;
    color: white;
}

p {
    font-size: 16px;
}

.lesser-text {
    color: #6d6578;
}

th {
    padding: 10px 20px;
    text-align: left;
}

table {
    margin-left:auto;
    margin-right:auto;
}

hr {
    width: 700px;
    color: white;
}

.even-space th {
    width: 120wv;
}

a {
    color: rgb(0, 157, 255);
}
a:hover {
    color: rgb(73, 185, 255);
}

.p-medium {
    font-size: 20px;
}

.top-logo {
    width: 450px;
    height: 300px;
    padding-top: 60px;
    object-fit: cover;
}

.wrap {
    width: 900px;
    background-color: #141217;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}
